.modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0,0,0, .8);
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Open Sans Condensed', sans-serif;
}

.container {
    background: #fff;
    color: black;
    font-size: 20px;
    width: 40%;
    height: 38%;
    border-radius: 20px;

    display: flex;
    text-align: left;
    justify-content: center;
}

.close-btn {
    background: transparent;
    border: none;

    outline: none;
    height: 32px;
    width: 32px;
    right: calc(-100% + 64px);
    cursor: pointer;
    top: 16px;
    margin-right: 90px;

    display: flex;
    position: relative;
    align-items: center;
}
.close-btn::before, .close-btn::after {
    content: ' ';
    position: absolute;
    width: 2.5px;
    height: 24px;
    background-color: black;
}
.close-btn::before {
    transform: rotate(45deg)
}
.close-btn::after {
    transform: rotate(-45deg)
}

.modal-content {
    font-weight: lighter;
    width: 100%;

    margin-top: 16px;

    text-align: left;
}