* {
    margin: 0;
    padding: 0;
}

.header { 
    height: 106px;
    width: 100%;
    
    background: #FFF;

    display: grid;
    justify-content: center;
    vertical-align: center;
}

.line {
    height: 1px;
    background-color: #000;
    width: 100%;
}

.logo-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 50px;
    font-weight: lighter;

    color: #000;
    margin-top: 15px;
}